/Settings/Settings.json
/SERVER/images/profiles/
/SERVER/images/subtitles/
/SERVER/log.txt

SERVER/logXP.txt
SERVER/scrap.py
SERVER/animedata.json
SERVER/botdata.json
SERVER/casinodata.json
SERVER/unityapi.json
SERVER/unitymanual.json
SERVER/userdata.json
SERVER/casino